agentApp/src/main/resources/wsdl/AccomodationService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="AccomodationService" targetNamespace="http://webService.agentApp.holiday.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://webService.agentApp.holiday.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.holiday.com/system" elementFormDefault="qualified" targetNamespace="http://www.holiday.com/system" version="1.0">
<xs:element name="Accomodation">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="id" type="xs:long"/>
<xs:element name="name" type="xs:string"/>
<xs:element name="Owner" type="tns:Agent"/>
<xs:element name="description" type="xs:string"/>
<xs:element name="Type">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="id" type="xs:long"/>
<xs:element name="Type" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="Category">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="id" type="xs:long"/>
<xs:element name="Category" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element maxOccurs="unbounded" minOccurs="0" name="Picture" type="tns:Picture"/>
<xs:element name="maxPerson" type="xs:int"/>
<xs:element maxOccurs="unbounded" minOccurs="0" ref="tns:Comment"/>
<xs:element ref="tns:Location"/>
<xs:element maxOccurs="unbounded" minOccurs="0" ref="tns:Raiting"/>
<xs:element maxOccurs="unbounded" minOccurs="0" name="Services">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="id" type="xs:long"/>
<xs:element default="false" minOccurs="0" name="service" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element ref="tns:Price_shedule"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="Comment">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="id" type="xs:long"/>
<xs:element name="author" type="tns:TUser"/>
<xs:element name="content" type="xs:string"/>
<xs:element name="approved" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="Location">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="id" type="xs:long"/>
<xs:element name="Country" type="xs:string"/>
<xs:element name="City" type="xs:string"/>
<xs:element name="Street" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="Price_shedule">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="id" type="xs:long"/>
<xs:element maxOccurs="unbounded" minOccurs="0" name="Price">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="id" type="xs:long"/>
<xs:element name="dateStart" type="xs:date"/>
<xs:element name="dateEnd" type="xs:date"/>
<xs:element name="value" type="xs:float"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="Raiting">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="id" type="xs:long"/>
<xs:element ref="tns:Accomodation"/>
<xs:element name="content" type="xs:string"/>
<xs:element name="Owner" type="tns:User"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="id" type="xs:long"/>
<xs:element name="objectCategory">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="id" type="xs:long"/>
<xs:element name="Category" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="objectType">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="id" type="xs:long"/>
<xs:element name="Type" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="services">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="id" type="xs:long"/>
<xs:element default="false" minOccurs="0" name="service" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:complexType name="Agent">
<xs:complexContent>
<xs:extension base="tns:TUser">
<xs:sequence>
<xs:element minOccurs="0" name="id" type="xs:long"/>
<xs:element name="PMB" type="xs:string"/>
<xs:element ref="tns:Location"/>
<xs:element maxOccurs="unbounded" minOccurs="0" ref="tns:Accomodation"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType abstract="true" name="TUser">
<xs:sequence>
<xs:element minOccurs="0" name="id" type="xs:long"/>
<xs:element name="username" type="xs:string"/>
<xs:element name="password" type="xs:string"/>
<xs:element name="email" type="xs:string"/>
<xs:element name="name" type="xs:string"/>
<xs:element name="surname" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="User">
<xs:complexContent>
<xs:extension base="tns:TUser">
<xs:sequence/>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="Admin">
<xs:complexContent>
<xs:extension base="tns:TUser">
<xs:sequence/>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="Picture">
<xs:sequence>
<xs:element minOccurs="0" name="id" type="xs:long"/>
<xs:element name="url" type="xs:string"/>
<xs:element ref="tns:Accomodation"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://www.holiday.com/system" targetNamespace="http://www.holiday.com/inbox" version="1.0">
<xs:import namespace="http://www.holiday.com/system"/>
<xs:element name="Message">
<xs:complexType>
<xs:sequence>
<xs:element form="qualified" minOccurs="0" name="id" type="xs:long"/>
<xs:element form="qualified" name="sender" type="ns1:TUser"/>
<xs:element form="qualified" name="receiver" type="ns1:TUser"/>
<xs:element form="qualified" name="content" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:schema>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://www.holiday.com/system" xmlns:tns="http://com.holiday.agentApp/" targetNamespace="http://com.holiday.agentApp/" version="1.0">
<xs:import namespace="http://www.holiday.com/system"/>
<xs:element name="AccomodationRequest" type="tns:AccomodationRequest"/>
<xs:element name="AccomodationResponse" type="tns:AccomodationResponse"/>
<xs:complexType name="AccomodationRequest">
<xs:sequence>
<xs:element minOccurs="0" name="id" type="xs:long"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="AccomodationResponse">
<xs:sequence>
<xs:element minOccurs="0" name="accomodation">
<xs:complexType>
<xs:sequence>
<xs:element form="qualified" minOccurs="0" name="id" type="xs:long"/>
<xs:element form="qualified" name="name" type="xs:string"/>
<xs:element form="qualified" name="Owner" type="ns1:Agent"/>
<xs:element form="qualified" name="description" type="xs:string"/>
<xs:element form="qualified" name="Type">
<xs:complexType>
<xs:sequence>
<xs:element form="qualified" minOccurs="0" name="id" type="xs:long"/>
<xs:element form="qualified" name="Type" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element form="qualified" name="Category">
<xs:complexType>
<xs:sequence>
<xs:element form="qualified" minOccurs="0" name="id" type="xs:long"/>
<xs:element form="qualified" name="Category" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="Picture" type="ns1:Picture"/>
<xs:element form="qualified" name="maxPerson" type="xs:int"/>
<xs:element maxOccurs="unbounded" minOccurs="0" ref="ns1:Comment"/>
<xs:element ref="ns1:Location"/>
<xs:element maxOccurs="unbounded" minOccurs="0" ref="ns1:Raiting"/>
<xs:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="Services">
<xs:complexType>
<xs:sequence>
<xs:element form="qualified" minOccurs="0" name="id" type="xs:long"/>
<xs:element default="false" form="qualified" minOccurs="0" name="service" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element ref="ns1:Price_shedule"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:schema>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns0="http://com.holiday.agentApp/" xmlns:tns="http://webService.agentApp.holiday.com/" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://webService.agentApp.holiday.com/">
<xsd:element name="AccomodationRequest" nillable="true" type="ns0:AccomodationRequest"/>
<xsd:element name="AccomodationResponse" nillable="true" type="ns0:AccomodationResponse"/>
</xsd:schema>
  </wsdl:types>
  <wsdl:message name="findById">
    <wsdl:part name="parameters" element="tns:AccomodationRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="findByIdResponse">
    <wsdl:part name="parameters" element="tns:AccomodationResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="AccomodationWebService">
    <wsdl:operation name="findById">
      <wsdl:input name="findById" message="tns:findById">
    </wsdl:input>
      <wsdl:output name="findByIdResponse" message="tns:findByIdResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AccomodationWebServiceServiceSoapBinding" type="tns:AccomodationWebService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="findById">
      <soap:operation soapAction="http://com.holiday.agentApp/findById" style="document"/>
      <wsdl:input name="findById">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="findByIdResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AccomodationService">
    <wsdl:port name="AccomodationPort" binding="tns:AccomodationWebServiceServiceSoapBinding">
      <soap:address location="http://localhost:9090/AccomodationPort"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
